## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [137]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [160]:
# Your code here
import random
sample_list_1 = random.sample(range(101),80)
print(sample_list_1)

[18, 46, 3, 2, 42, 44, 38, 27, 30, 29, 6, 0, 15, 4, 24, 32, 72, 73, 9, 87, 22, 89, 85, 84, 23, 62, 91, 49, 75, 10, 78, 77, 63, 26, 50, 88, 14, 52, 48, 95, 51, 64, 80, 81, 69, 47, 8, 59, 79, 7, 12, 65, 76, 99, 37, 36, 28, 56, 31, 70, 82, 41, 68, 45, 66, 58, 96, 67, 90, 17, 16, 55, 40, 57, 1, 25, 83, 53, 86, 21]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [161]:
# Your code here
set1 = set(sample_list_1)
print(len(set1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [162]:
# Your code here
sample_list_2=[]
for x in range(80):
    sample_list_2.append(random.randrange(101))
print(sample_list_2)

[78, 13, 92, 4, 77, 25, 59, 66, 97, 80, 40, 71, 22, 70, 60, 9, 100, 55, 47, 9, 74, 29, 33, 100, 27, 41, 16, 97, 97, 27, 66, 26, 100, 17, 36, 79, 93, 42, 27, 9, 62, 95, 27, 31, 52, 82, 49, 90, 80, 22, 12, 30, 71, 83, 58, 85, 86, 64, 9, 70, 39, 66, 74, 67, 46, 28, 84, 4, 79, 6, 89, 65, 76, 50, 20, 55, 64, 97, 55, 93]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [163]:
# Your code here
set2 = 0
set2 = set(sample_list_2)
print(len(set2))
#El len de set2 no es 80 por que la funcion random.randrage()no tiene en cuneta que ese numero ya este ne la lista,
#por lo que al pasar la lista a set los duplicados se eliminan.

56

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [164]:
# Your code here
set3 = set1.difference(set2)
print(set3)

{0, 1, 2, 3, 7, 8, 10, 14, 15, 18, 21, 23, 24, 32, 37, 38, 44, 45, 48, 51, 53, 56, 57, 63, 68, 69, 72, 73, 75, 81, 87, 88, 91, 96, 99}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [165]:
# Your code here
set4 = set2.difference(set1)
print(set4)

{33, 97, 100, 39, 71, 74, 13, 92, 20, 60, 93}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [166]:
# Your code here
set5 = set1.intersection(set2)
print(set5)

{4, 6, 9, 12, 16, 17, 22, 25, 26, 27, 28, 29, 30, 31, 36, 40, 41, 42, 46, 47, 49, 50, 52, 55, 58, 59, 62, 64, 65, 66, 67, 70, 76, 77, 78, 79, 80, 82, 83, 84, 85, 86, 89, 90, 95}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [167]:
# Your code here
a = len(set1)
b = len(set2)
c = len(set3)
d = len(set4)
e = len(set5)
print(a,b,c,d,e)
print('len(set2) = len(set4)+ len(set5):',b == (d+e))
print('len(set1) = len(set3)+ len(set5):',a == (c+e))

80 56 35 11 45
len(set2) = len(set4)+ len(set5): True
len(set1) = len(set3)+ len(set5): True

#### Create an empty set called `set6`.

In [168]:
# Your code here
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [169]:
# Your code here
set6.update(set3)
set6.update(set5)

#### Check if `set1` and `set6` are equal.

In [170]:
# Your code here
print(set1 == set6)

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [171]:
# Your code here
print('set1 contains set2:',set2.issubset(set1))
print('set1 contains set3:',set3.issubset(set1))

set1 contains set2: False
set1 contains set3: True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [172]:
# Your code here
print(set3.union(set4).union(set5)== set1.union(set2))

True

#### Using the `pop` method, remove the first element from `set1`.

In [173]:
# Your code here
print(set1)
set1.pop()
print(set1)

{0, 1, 2, 3, 4, 6, 7, 8, 9, 10, 12, 14, 15, 16, 17, 18, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 36, 37, 38, 40, 41, 42, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 55, 56, 57, 58, 59, 62, 63, 64, 65, 66, 67, 68, 69, 70, 72, 73, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 95, 96, 99}
{1, 2, 3, 4, 6, 7, 8, 9, 10, 12, 14, 15, 16, 17, 18, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 36, 37, 38, 40, 41, 42, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 55, 56, 57, 58, 59, 62, 63, 64, 65, 66, 67, 68, 69, 70, 72, 73, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 95, 96, 99}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [175]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
list_to_remove = set(list_to_remove)
print(set1)
set1.difference_update(list_to_remove)
print(set1)

{2, 3, 4, 6, 7, 8, 10, 12, 14, 15, 16, 17, 18, 22, 23, 24, 25, 26, 27, 28, 30, 32, 36, 37, 38, 40, 42, 44, 45, 46, 47, 48, 50, 52, 53, 55, 56, 57, 58, 62, 63, 64, 65, 66, 67, 68, 70, 72, 73, 75, 76, 77, 78, 80, 82, 83, 84, 85, 86, 87, 88, 90, 95, 96}
{2, 3, 4, 6, 7, 8, 10, 12, 14, 15, 16, 17, 18, 22, 23, 24, 25, 26, 27, 28, 30, 32, 36, 37, 38, 40, 42, 44, 45, 46, 47, 48, 50, 52, 53, 55, 56, 57, 58, 62, 63, 64, 65, 66, 67, 68, 70, 72, 73, 75, 76, 77, 78, 80, 82, 83, 84, 85, 86, 87, 88, 90, 95, 96}